@model Shop.ViewModels.ProductViewModel
@{
    ViewData["Title"] = "Профіль Активні";
}
<style>
    .wide-blue-bar {
        background-color: #1861ac;
        color: #fff;
        padding: 1.5rem 0; /* Внутренний отступ сверху и снизу */
        text-align: center; /* Выравнивание текста по центру */
        margin-top: 20px; /* Верхний отступ */
        margin-bottom: 20px; /* Нижний отступ */
    }
    .img{
        max-width: 185px;
        max-height: 130px;
    }
    body{
        background-color: whitesmoke;
    }

    .button-login
    {
        background-color:orange;
    }
      .img-container {
        display: flex;
        justify-content: center; /* Вирівнюємо по горизонталі по центру */
        max-width: 185px;
        max-height: 130px;
        margin-bottom: 4px; /* Доданий зазначений margin-bottom */
    }
    .d-block 
    {
        max-width: 185px;
        max-height: 130px;
    }
 </style>


 <body>
    <h3 class="display-4">
        <small style="font-size: smaller;"><b>Ваш профіль</b></small>
    </h3>
    <div class="wide-blue-bar">
        <p>
            Зверніть увагу, що угоди з Bag Доставка не оформлюються за сторонніми посиланнями і в ручному режимі! Дуже рекомендуємо ігнорувати такі повідомлення з лінком на Bag Доставка, відправлені вам поза Bag, наприклад, у Viber / SMS / Telegram. Дізнайтеся більше про шахрайство в інтернеті тут. Про те, як працює послуга Bag Доставка, читайте тут.
        </p>
    </div>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            
             
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">



                        <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Profil" asp-action="Index"><b>Оголошення</b></a>

                        </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Profil" asp-action="Settings">Налаштування</a>
                    </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="#" asp-action="#">Платежі та рахунки Bag</a>
                            </li>
                     

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="#" asp-action="#">Bag доставка</a>
                  

                    </ul>

                </div>
            </div>
        </nav>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">


        <div class="container-fluid">
            <div class="navbar-collapse collapse d-sm-inline-flex  justify-content-between">
                <ul class="navbar-nav flex-grow-1">



                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Profil" asp-action="Index"><b><small>Активні</small></b></a>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Profil" asp-action="Arhive_"><small>Архівовані</small></a>
                    </li>
                    

                </ul>

            </div>
        </div>
    </nav>
        @if(Model.Products.Any()){
    @foreach (var p in Model.Products.Where(x=>x.IS_Arhive!=true))
    {
        <div class="container mt-5 mb-5">
            <div class="d-flex justify-content-center row">
                <div class="col-md-12">
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-2 mt-1">
                            @if (Model.Images.Where(id => id.ProductId == p.Id) != null && Model.Images.Where(id => id.ProductId == p.Id).Any())
                            {
                                    <div class="img-container">

                                        <img class="d-block mx-auto" src="data:image/jpeg;base64,@(Convert.ToBase64String(p.Images.Where(id => id.ProductId == p.Id).First().ImageData)) " alt="...">
                                     
                                    </div>
                                }
                                else
                                {

                                    <img src="~/default.png" class="d-block w-100" alt="...">

                                }

                        </div>
                        <div class="col-md-6 mt-1">
                            <h5 class="card-title">@p.Name</h5>
                            <div class="d-flex flex-row">
                                <div class="ratings mr-2">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </div><span><small>ID: @p.Id</small></span>
                            </div>
                            <div class="mt-1 mb-1 spec-1"><span><b>•@p.Category.Name</b></span></div>
                            <p class="text-justify text-truncate para mb-0"><i class="bi bi-geo-alt-fill"></i>область @p.District.Name<br><br></p>
                        </div>
                        <div class="align-items-center align-content-center col-md-4 border-left mt-1">
                            <div class="d-flex flex-row align-items-center">
                                <h4 class="mr-1">@p.Price грн</h4>
                            </div>
                        </div>
                        <hr class="mt-2">
                        <div class="card-footer text-end">
                            <div>
                                <a asp-action="DetailsCatalog" asp-controller="Products" asp-route-id="@p.Id" class="btn">
                                    Переглянути
                                </a>
                                <a asp-action="Edit" asp-controller="Products" asp-route-id="@p.Id" class="btn ">
                                    Редагувати
                                </a>
                              
                                
                                    <a asp-action ="ARHIVE"  asp-route-id="@p.Id" class="btn ">
                                       Архівувати 
                                    </a>
                                
                                <a asp-action="Vip" asp-controller="Products" asp-route-id="@p.Id" class="btn ">
                                    Рекламувати
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    }
    else
    {
        <div class="text-center">

            <a asp-controller="Products" asp-action="Create" class="button-login"   role="button">Створити оголошення</a>
        </div>
    }
</body>


 
                  


