@model Shop.ViewModels.ProductViewModel
@{
    ViewData["Title"] = "Головна";
}
<style>
  
    body {
        background-color: whitesmoke; /* Сірий колір фону */
    }
    .search-container{
        background-color:white;
    }
    .category-block {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .category-row {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px; /* Добавим небольшой отступ между рядами */
    }

    .category-card {
        text-align: center;
        margin: 10px;
        width: 100px;
      
    }

    .image-container {
        width: 100px;
        height: 100px;
        border: 1px solid #e5e5e5;
        border-radius: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden; /* Переміщено сюди для залишку від обрізання */
        background-color: white;
    }

        .image-container img {
            max-width: 100%; /* Змінено на максимальну ширину 100% */
            max-height: 100%; /* Змінено на максимальну висоту 100% */
            width: 50px;
            height: 50px;

        }
    /* Общие стили для текста ссылок */
    a {
        color: #000; /* Цвет текста */
        text-decoration: none; /* Убираем подчеркивание */
    }

        /* Стили для текста ссылок при наведении */
        a:hover {
            text-decoration: none; /* Подчеркиваем при наведении */
            color: #FFA93C;
        }

        /* Стили для посещенных ссылок */
        a:visited {
            color: #purple; /* Цвет для посещенных ссылок */
        }
    /* Стили для надписи "VIP-оголошення" */
    .text-start {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px; /* Отступ сверху */
    }

    .display-4 small {
        font-size: smaller;
        color: #000; /* Цвет текста */
        font-weight: bolder; /* Жирный текст */
    }

    /* Стили для кнопки */
    .button-right {
        margin: 0; /* Сбрасываем внутренние отступы */
        background-color: #FFA93C; /* Оранжевый фон */
        color: #fff; /* Белый текст */
        border: none; /* Убираем границу */
    }

        .button-right:hover {
            background-color: #fff; /* Белый фон при наведении */
            color: #FFA93C; /* Оранжевый текст при наведении */
        }

    .small-card {
        max-width: 200px; /* Регулируйте значение в зависимости от желаемого размера */
    }

    .container-products {
        margin-top: 2rem; /* Верхний отступ для блока с карточками товаров */
        margin-bottom: 20px; /* Нижний отступ для блока с карточками товаров */
    }

    .blue-bar {
        background-color: #1861ac; /* Цвет синей полоски */
        color: #fff; /* Цвет белого текста */
        padding: 1.5rem; /* Внутренний отступ для синей полоски */
        margin-top: 2rem; /* Верхний отступ для синей полоски */
        margin-bottom: 20px;
        width: 100% !important;
        text-align: center; /* Выравнивание текста по центру */
    }

        .blue-bar p {
            font-size: 1.5rem; /* Изменение размера текста */
        }

        .blue-bar .button-right {
            margin-top: 10px; /* Отступ от надписи */
            padding: 15px 30px; /* Увеличение отступов кнопки */
            background-color: #FFA93C; /* Оранжевый фон */
            color: #fff; /* Белый текст */
            border: none; /* Убираем границу */
            font-weight: bold; /* Жирный текст */
            font-size: 1.2rem; /* Увеличение размера текста в кнопке */
        }

            .blue-bar .button-right:hover {
                background-color: #fff; /* Белый фон при наведении */
                color: #FFA93C; /* Оранжевый текст при наведении */
            }

    .wide-blue-bar {
        background-color: #1861ac;
        color: #fff;
        padding: 1.5rem 0; /* Внутренний отступ сверху и снизу */
        text-align: center; /* Выравнивание текста по центру */
        margin-top: 20px; /* Верхний отступ */
        margin-bottom: 20px; /* Нижний отступ */
    }

    .image-container{
        display: flex;
        justify-content: center; /* Вирівнюємо по горизонталі по центру */
        max-width: 368px;
        max-height: 301px;
        /* Доданий зазначений margin-bottom */
    }

    .d-block {
        max-width: 368px;
        max-height: 301px;
    }

    h2 {
        color: #000;
        font-size: 26px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        margin: 30px 0 60px;
    }

        h2::after {
            content: "";
            width: 100px;
            position: absolute;
            margin: 0 auto;
            height: 4px;
            border-radius: 1px;
            background: #7ac400;
            left: 0;
            right: 0;
            bottom: -20px;
        }

    .carousel {
        margin: 50px auto;
        padding: 0 70px;
    }

        .carousel .item {
            color: #747d89;
            min-height: 325px;
            text-align: center;
            overflow: hidden;
        }

        .carousel .thumb-wrapper {
            padding: 25px 15px;
            background: #fff;
            border-radius: 6px;
            text-align: center;
            position: relative;
            box-shadow: 0 2px 3px rgba(0,0,0,0.2);
        }

        .carousel .item .img-box {
            height: 120px;
            margin-bottom: 20px;
            width: 100%;
            position: relative;
        }

        .carousel .item img {
            max-width: 100%;
            max-height: 100%;
            display: inline-block;
            position: absolute;
            bottom: 0;
            margin: 0 auto;
            left: 0;
            right: 0;
        }

        .carousel .item h4 {
            font-size: 18px;
        }

        .carousel .item h4, .carousel .item p, .carousel .item ul {
            margin-bottom: 5px;
        }

        .carousel .thumb-content .btn {
            color: #7ac400;
            font-size: 11px;
            text-transform: uppercase;
            font-weight: bold;
            background: none;
            border: 1px solid #7ac400;
            padding: 6px 14px;
            margin-top: 5px;
            line-height: 16px;
            border-radius: 20px;
        }

            .carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
                color: #fff;
                background: #7ac400;
                box-shadow: none;
            }

            .carousel .thumb-content .btn i {
                font-size: 14px;
                font-weight: bold;
                margin-left: 5px;
            }

        .carousel .carousel-control {
            height: 44px;
            width: 40px;
            background: #7ac400;
            margin: auto 0;
            border-radius: 4px;
            opacity: 0.8;
        }

            .carousel .carousel-control:hover {
                background: #78bf00;
                opacity: 1;
            }

            .carousel .carousel-control i {
                font-size: 36px;
                position: absolute;
                top: 50%;
                display: inline-block;
                margin: -19px 0 0 0;
                z-index: 5;
                left: 0;
                right: 0;
                color: #fff;
                text-shadow: none;
                font-weight: bold;
            }

        .carousel .item-price {
            font-size: 13px;
            padding: 2px 0;
        }

            .carousel .item-price strike {
                opacity: 0.7;
                margin-right: 5px;
            }

        .carousel .carousel-control.left i {
            margin-left: -2px;
        }

        .carousel .carousel-control.right i {
            margin-right: -4px;
        }

        .carousel .carousel-indicators {
            bottom: -50px;
        }

    .carousel-indicators li, .carousel-indicators li.active {
        width: 10px;
        height: 10px;
        margin: 4px;
        border-radius: 50%;
        border: none;
    }

    .carousel-indicators li {
        background: rgba(0, 0, 0, 0.2);
    }

        .carousel-indicators li.active {
            background: rgba(0, 0, 0, 0.6);
        }

    .carousel .wish-icon {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 99;
        cursor: pointer;
        font-size: 16px;
        color: #abb0b8;
    }

        .carousel .wish-icon .fa-heart {
            color: #ff6161;
        }

    .star-rating li {
        padding: 0;
    }

    .star-rating i {
        font-size: 14px;
        color: #ffc000;
    }
        /* Добавляем стили для изменения цвета иконки при наведении */
    /* Убираем рамку при наведении на иконку сердечка */
    .wish-icon-container .wish-icon:hover,
    .wish-icon-container .wish-icon:focus {
        border-color: transparent !important;
        box-shadow: none !important;
        outline: none !important;
    }

    /* Убираем рамку у кнопки сердечка */
    .btn.wish-icon:focus,
    .btn.wish-icon:active,
    .btn.wish-icon:hover {
        box-shadow: none !important;
        border-color: transparent !important;
        background-color: transparent !important;
    }

    .wish-icon-container .wish-icon:hover {
        color: orange; /* Изменяем цвет на оранжевый при наведении */
    }

    /* Стили для изменения цвета иконки по умолчанию */
    .wish-icon-container .wish-icon {
        color: white; /* Устанавливаем белый цвет по умолчанию */
        border: 1px solid black; /* Добавляем черную обводку */
        border-radius: 50%; /* Делаем обводку круглой */
        padding: 3px; /* Увеличиваем немного размер кнопки */
    }

        .wish-icon-container .wish-icon:hover {
            color: orange; /* Изменяем цвет на оранжевый при наведении */
        }

    /* Стили для изменения цвета иконки по умолчанию */
    .wish-icon-container .wish-icon {
        color: white; /* Устанавливаем белый цвет по умолчанию */
        position: relative; /* Позиционируем иконку относительно родительского элемента */
    }

        /* Псевдоэлементы для создания обводки */
        .wish-icon-container .wish-icon::before,
        .wish-icon-container .wish-icon::after {
            content: ''; /* Добавляем содержимое */
            position: absolute; /* Позиционируем псевдоэлементы абсолютно */
            border-radius: 50%; /* Делаем форму круглой */
            width: 100%; /* Задаем ширину 100% */
            height: 100%; /* Задаем высоту 100% */
            border: 2px solid black; /* Добавляем черную обводку */
            top: 0; /* Располагаем вверху */
            left: 0; /* Располагаем слева */
        }

        /* Псевдоэлемент для левой половины сердца */
        .wish-icon-container .wish-icon::before {
            transform: rotate(-45deg); /* Поворачиваем на -45 градусов */
        }

        /* Псевдоэлемент для правой половины сердца */
        .wish-icon-container .wish-icon::after {
            transform: rotate(45deg); /* Поворачиваем на 45 градусов */
        }

    .wish-icon-container {
        margin-right: -5px;
    }


</style>





<body>

<div class="search-container" >
    <form asp-controller="Home" asp-action="Index" class="form-inline">
        <div class="input-group">
                <input class="form-control" type="search" placeholder="Шукаю" aria-label="Search" name="SearchString">
            <button type="submit" class="btn btn-outline-secondary">
                <i class="bi bi-search"></i> <!-- Иконка лупы из Bootstrap Icons -->
            </button>
        </div>
    </form>
</div> 
<div class="category-block">
    <!-- Первый горизонтальный ряд -->
    <div class="category-row">
            @foreach (var category in Model.Categories.Take(6))
        {
            <div class="category-card">
                <a asp-controller="Home" asp-action="Sort" asp-route-categoryId="@category.Id">
                    <div class="image-container">
                        <img src="~/@category.URL.ToString()" alt="@category.Name" />
                    </div>
                    <p class="text-center">@category.Name</p>
                </a>
            </div>
        }
    </div>

    <!-- Второй горизонтальный ряд -->
    <div class="category-row">
        @foreach (var category in Model.Categories.Skip(6))
        {
                if (category.Id!= 13)
                {
                    <div class="category-card">
                        <a asp-controller="Home" asp-action="Sort" asp-route-categoryId="@category.Id">
                    <div class="image-container">
                        <img src="~/@category.URL.ToString()" alt="@category.Name"  />
                    </div>
                    <p class="text-center">@category.Name</p>
                </a>
            </div>
            }
        }
    </div>
</div>
<div class="text-start">
    <h3 class="display-4">
        <small style="font-size: smaller;">VIP-оголошення</small>
    </h3>
      

        <a asp-controller="Home" asp-action="Sort" asp-route-categoryId="13" class="btn btn-primary button-right rounded">
            Дивитися усе</>
            </a>
</div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var p in Model.Products.Where(x => x.IsVIP == true && x.IS_Arhive != true))
        {
            <div class="col-md">
                <div class="card h-100 product-card position-relative">
                    <!-- Добавлен класс position-relative -->
                    <!-- Контейнер для кнопки "сердечко" -->
                  @*   <div class="wish-icon-container position-absolute top-0 end-0 mt-2 me-2">
                        <button class="btn btn-outline-secondary wish-icon" style="border: none;">
                            <!-- Само сердечко -->
                            <i class="bi bi-heart-fill" style="font-size: 1.5em;"></i>
                        </button>
                    </div> *@
                    <div class="wish-icon-container position-absolute top-0 end-0 mt-2 me-2">
                        @if (Model.User != null && Model.User.Fav_Products != null)
                        {
                            @if (Model.User.Fav_Products.Any(x => x.ProductId == p.Id))
                            {
                               
                                    <form>
                                        <button asp-controller="CategoriesMenu" asp-action="UnLike" asp-route-id="@p.Id" class=" btn btn-outline-secondary wish-icon " style="border: none;">
                                            <!-- Само сердечко -->

                                            <i class="bi-heart-fill" style="font-size: 1.5em; color:orange; background-color:none;"></i>

                                        </button>
                                    </form>
                                
                             
                               
                            }
                            else
                            {
                              
                                    <form>
                                        <button asp-controller="CategoriesMenu" asp-action="Like" asp-route-id="@p.Id" class="btn btn-outline-secondary wish-icon" style="border: none;">
                                            <!-- Само сердечко -->

                                            <i class="bi-heart-fill   " style="font-size: 1.5em; "></i>

                                        </button>
                                    </form>
                           
                            }


                        }
                        else
                        {
                            @if (User.IsInRole("Administrator") || User.IsInRole("User"))
                            {
                                <form>
                                    <button asp-controller="CategoriesMenu" asp-action="Like" asp-route-id="@p.Id" class="btn btn-outline-secondary wish-icon" style="border: none;">
                                        <!-- Само сердечко -->

                                        <i class="bi-heart-fill   " style="font-size: 1.5em; "></i>

                                    </button>
                                </form>
                            }
                            else
                            {
                                <form>
                                    <button asp-area="Identity" asp-page="/Account/Register" class=" btn btn-outline-secondary wish-icon " style="border: none;">
                                        <!-- Само сердечко -->

                                        <i class="bi-heart-fill   " style="font-size: 1.5em; "></i>

                                    </button>
                                </form>
                            }
                        }
                    </div>
                      <a asp-controller="Products" asp-action="DetailsCatalog" asp-route-id="@p.Id" class="btn btn-outline">
                    <!-- Контент карточки продукта -->
                    @if (Model.Images.Where(id => id.ProductId == p.Id) != null && Model.Images.Where(id => id.ProductId == p.Id).Any())
                    {
                        <div class="img-container">
                            <img class="d-block mx-auto" src="data:image/jpeg;base64,@(Convert.ToBase64String(p.Images.Where(id => id.ProductId == p.Id).First().ImageData))" alt="..." />
                        </div>
                    }
                    else
                    {
                        <img src="~/default.png" alt="...">
                    }
                    </a>
                    <div class="card-body text-center">
                        <h5 class="card-title">@p.Name</h5>
                        @if (p.Discout != null)
                        {
                            var a = p.Price * (100 - p.Discout) / 100;
                            string b = a?.ToString("0.00##");
                            <p class="card-text">
                                <span class="badge bg-danger">@b UAH</span>
                            </p>
                        }
                        else
                        {
                            <p class="card-text">
                                <span class="badge bg-primary">@p.Price UAH</span>
                            </p>
                        }
                    </div>
                    <div class="card-footer text-center">
                        <p class="card-text">
                            <span class="badge bg-info">обл. @p.District?.Name</span>
                        </p>
                        <p class="card-text">
                            @if (p.CreatedDate?.Day == DateTime.Today.Day)
                            {
                                <span class="badge bg-white text-dark">Обновлено сьогодні o @p.CreatedDate?.ToString("HH:mm")</span>
                            }
                            @if (p.CreatedDate?.Day == DateTime.Today.Day - 1)
                            {
                                <span class="badge bg-white text-dark">Обновлено вчора o  @p.CreatedDate?.ToString("HH:mm")</span>
                            }
                            @if (p.CreatedDate?.Day != DateTime.Today.Day && p.CreatedDate?.Day != DateTime.Today.Day - 1)
                            {
                                <span class="badge bg-white text-dark">Обновлено @p.CreatedDate?.Day.@p.CreatedDate?.Month.@p.CreatedDate?.Year</span>
                            }
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>















 
     
    @if (!User.Identity.IsAuthenticated)
    {
           
           
              <div class="blue-bar">
                  <div class="container">
                      <div class="row align-items-center">
                          <div class="col-md-8">
                              <p class="text-white">Почніть свій бізнес на bag вже сьогодні</p>
                          </div>
                          <div class="col-md-4 text-end">
                              <a id="login" asp-area="Identity" asp-page="/Account/Register" class="btn btn-light" role="button">Зареєструватись</a>
                              
                          </div>
                      </div>
                  </div>
              </div>
   }


</div>
<div class="wide-blue-bar">
    <p>
        Усі онлайн-оголошення України на bag — тут ви знайдете те, що шукали! Натиснувши на кнопку Додати оголошення, ви зможете розмістити оголошення на будь-яку тематику легко й швидко. За допомогою сервісу bag ви зможете купити чи продати з рук у руки практично все, що завгодно.

    </p>
</div>
</body>
<script>
    $(document).ready(function () {
        $(".wish-icon i").click(function () {
            $(this).toggleClass("fa-heart fa-heart-o");
        });
    });
</script>
<script>
    // jQuery скрипт для кнопки "сердечко"
    $(document).ready(function () {
        $(".wish-icon").click(function () {
            $(this).toggleClass("btn-outline-secondary btn-danger"); // Переключаем стили кнопки
            $(this).find("i").toggleClass("bi-heart bi-heart-fill"); // Переключаем иконку
        });
    });
</script>