@model List<Data.Entities.User>
@using Data.Entities
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> userManager
@{
    ViewData["Title"] = "Користувачі";
}

    <style>
        body{
            background-color:whitesmoke;
        }
    </style>
    <body>
<div>
    <form asp-controller="Users" asp-action="Index" method="get">
        @* <div class="form-group">
            <input type="text" class="form-control" name="email" placeholder="Search by Email">
           
        </div> *@
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Введіть пошту" aria-label="Search" name="email">
         
        </div>
        
    </form>
</div>
<hr />
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Пошта</th>
            <th scope="col">Роль</th>
            <th scope="col">Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>
                    @{
                        var roles = await userManager.GetRolesAsync(user);
                        var roleNames = string.Join(", ", roles);
                    }
                    @roleNames
                </td>
                <td>
                    <div class="btn-group" role="group">
                        @if (!roles.Contains("Administrator"))
                        {
                            <form asp-action="ChangeRoleToAdmin" asp-route-email="@user.Email" method="post">
                                <button type="submit" class="btn btn-info">Надати права адміністратора</button>
                            </form>
                        }
                        @if (roles.Contains("Administrator"))
                        {
                            <form asp-action="ChangeRoleToUser" asp-route-email="@user.Email" method="post">
                                <button type="submit" class="btn btn-info">Забрати права</button>
                            </form>
                        }

                        <form asp-action="Delete" asp-route-id="@user.Id" > 
                            <button type="submit" class="btn btn-danger">Видалити</button>
                            </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>Кількість: @Model.Count</p>
</body>