@model List<Data.Entities.Product>
@{
    ViewData["Title"] = "Товари користувачів";
}
<h1>Oголошення</h1>


<hr />
@*Razor Syntax: @if() @{..C#..} @for ...*@

@*<ul>
    @foreach (var p in Model)
    {
        <li>[@p.Id] @p.Name @p.Price$</li>
    }    
</ul>*@

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Назва</th>
            <th scope="col">Наявність</th>
            <th scope="col">Категорія</th>
            <th scope="col">Категорія_VIP</th>
            <th scope="col">Розташування</th>
            <th scope="col">Ціна UAH</th>
            <th scope="col">Bag delivery</th>
            <th scope="col">Vip</th>
            <th scope="col">вТОП-1</th>
            <th scope="col">вТОП-7</th>
            <th scope="col" >Дії</th>
        </tr>
    </thead>
    <tbody>
     
        @foreach (var p in Model.Where(x => x.IS_Arhive != true))
        {
            <tr class="align-middle">
                <th scope="row">@p.Id</th>
                <td>@p.Name</td>
                <td>
                   @if(p.InStock)
                    {
                        <span class="badge bg-success">В наявності</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">Немає в наявності</span>
                    }
                </td>
                <td>@(p.Category?.Name ?? "не підгруженно")</td>
                <td>@(p.Category_VIP_Id)</td>
                <td>@(p.District?.Name ?? "не підгруженно")</td>
                <td>
                    @if (p.Discout != null)
                    {
                        var a = p.Price * (100 - p.Discout) / 100;
                        string b = a?.ToString("0.00##");
                      
                        <p> @b </p>
                      
                    }
                    else
                    {
                        
                         <p> @p.Price </p>
                      
                    }
                </td>
                <td>@p.Has_Delivery.ToString()</td>
                <td>@p.IsVIP.ToString()</td>
                <td>@p.IsUp_one.ToString()</td>
                <td>@p.IsUp_seven.ToString()</td>
                 <td>
                    <div class="btn-group" role="group">
                        <a asp-action="DetailsCatalog" asp-route-id="@p.Id" class="btn btn-info">
                            <i class="bi bi-eye"></i>
                        </a>
                        <a asp-action="Edit" asp-route-id="@p.Id" class="btn btn-warning">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@p.Id" class="btn btn-danger">
                            <i class="bi bi-trash"></i>
                        </a>

                        <a asp-action="Vip_Admin" asp-route-id="@p.Id" class="btn btn-outline-success">
                           Зміна статусу 
                        </a>
                      
                       
                    </div>
                </td>
              
            </tr>
        }
    </tbody>
</table>

<p>Кількість: @Model.Count</p>