@model List<Data.Entities.Product>

<div class="text=center">
    <h1 class="display-4">Каталог продуктів </h1>

</div>


<div class="row row-cols-1 row-cols-md-3 g-4">

    @foreach(var p in Model)
    {
     
        <div class="col">
            <div class="card h-100 product-card">
                <img src="@(p.ImageUrl ??  "https://pixsector.com/cache/517d8be6/av5c8336583e291842624.png")" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">@p.Name</h5>
                  

                        @if (p.Discout != null)
                        {
                            var a = p.Price * (100 - p.Discout) / 100;
                            string b = a?.ToString("0.00##");
                        <p class="card-text">
                          <span class="badge bg-danger">@b UAH</span>
                        </p>
                        }
                        else
                        {
                        <p class="card-text">
                           <span class="badge bg-primary">@p.Price UAH</span>
                        </p>
                        }


                      
                  
                </div>
                <div class="card-footer text-center">
                    <a asp-controller="Cart" asp-action="Add" asp-route-id="@p.Id" class="btn btn-outline-success">
                        <i class="bi bi-bag-plus"></i>
                        Add to Cart
                    </a>
                    <a asp-controller="Products" asp-action="DetailsCatalog" asp-route-id="@p.Id" class="btn btn-outline-info">
                        <i class="bi bi-eye"></i>
                    </a>

                    <p class="card-text">
                        <span class="badge bg-info">обл. @p.District?.Name</span>
                    </p>
                    <p class="card-text">
                        @if (p.CreatedDate.Value.Day == DateTime.Today.Day)
                        {
                            <span class="badge bg-white text-dark">Обновлено сьогодні o @p.CreatedDate?.ToString("HH:mm")</span>
                        }
                        @if (p.CreatedDate.Value == DateTime.Today.AddDays(-1))
                        {
                            <span class="badge bg-white text-dark">Обновлено вчора o  @p.CreatedDate?.ToString("HH:mm")</span>

                        }
                        @if (p.CreatedDate.Value.Day != DateTime.Today.Day && p.CreatedDate != DateTime.Today.AddDays(-1))
                        {
                            <span class="badge bg-white text-dark">Обновлено @p.CreatedDate.Value.Day.@p.CreatedDate.Value.Month.@p.CreatedDate.Value.Year</span>

                        }
                    </p>
                </div>
            </div>
        </div>
    }
  
 
    </div>
