@model Shop.ViewModels.ProductViewModel;
@{
    ViewData["Title"] = "КаталогСорт";
}
 <style> body {
        background-color: whitesmoke; /* Сірий колір фону */
    }

    .search-container {
        background-color: white;
    }

    
 </style>
<body>
<div class="search-container">
    <form asp-controller="Home" asp-action="Index" class="form-inline">
        <div class="input-group">
            <input class="form-control" type="search" placeholder="Пошук" aria-label="Search" name="SearchString">
            <button type="submit" class="btn btn-outline-secondary">
                <i class="bi bi-search"></i> <!-- Иконка лупы из Bootstrap Icons -->
            </button>
        </div>
    </form>
</div>
<hr />


    @if(Model.Products.Count>1)
    {
        <h4>Ми знайшли понад @(Model.Products.Count-1) оголошень</h4>
    }
    else if (Model.Products.Count > 0)
    {
        <h4>Ми знайшли лише 1 оголошення</h4>
    }
    else
    {
        <h4>Ми не змогли знайти оголошення за цими критеріями </h4>
    }
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @{
            // Сортуємо всі продукти за датою у спадаючому порядку
            var sortedProducts = Model.Products.Where(p => p.D_Up_seven.HasValue || p.D_Up_one.HasValue)
            .OrderByDescending(p => p.D_Up_seven ?? DateTime.MinValue)
            .ThenByDescending(p => p.D_Up_one ?? DateTime.MinValue)
            .ToList();
        }

        @foreach (var p in sortedProducts.Where(x => x.IS_Arhive != true))
    {
        <div class="col-md">
            <div class="card h-100 product-card">
                 <a asp-controller="Products" asp-action="DetailsCatalog" asp-route-id="@p.Id" class="btn btn-outline">
                @if (p.Images != null && p.Images.Any())
                {

                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(p.Images.FirstOrDefault().ImageData))" alt="..." />
                    

                }
                    else
                    {
                        <img  src="~/default.png" alt="...">
                    }
              <div class="card-body text-center">
                    <h5 class="card-title">@p.Name</h5>

                    @if (p.Discout != null)
                    {
                        var discountedPrice = p.Price * (100 - p.Discout) / 100;
                        <p class="card-text">
                            <span class="badge bg-danger">@discountedPrice UAH</span>
                        </p>
                    }
                    else
                    {
                        <p class="card-text">
                            <span class="badge bg-primary">@p.Price UAH</span>
                        </p>
                    }
                </div> 

                <div class="card-footer text-center">
                    @* <a asp-controller="Cart" asp-action="Add" asp-route-id="@p.Id" class="btn btn-outline-success">
                        <i class="bi bi-bag-plus"></i>
                        Додати до кошика
                    </a>
                    <a asp-controller="Products" asp-action="DetailsCatalog" asp-route-id="@p.Id" class="btn btn-outline-info">
                        <i class="bi bi-eye">  </i>
                    </a> *@

                    <p class="card-text">
                        <span class="badge bg-info">обл. @p.District?.Name</span>
                    </p>
                    <p class="card-text">
                        @if (p.CreatedDate?.Day == DateTime.Today.Day)
                        {
                            <span class="badge bg-white text-dark">Обновлено сьогодні о @p.CreatedDate?.ToString("HH:mm")</span>
                        }
                        else if (p.CreatedDate?.Day == DateTime.Today.Day - 1)
                        {
                            <span class="badge bg-white text-dark">Обновлено вчора о @p.CreatedDate?.ToString("HH:mm")</span>
                        }
                        else
                        {
                            <span class="badge bg-white text-dark">Обновлено @p.CreatedDate?.ToString("dd.MM.yyyy HH:mm")</span>
                        }
                    </p>
                </div>
                </a>
            </div>
        </div>
    }
   
    @foreach (var p in Model.Products.Where(x => x.IsUp_seven != true && x.IsUp_one!=true && x.IS_Arhive!=true))
    {
        <div class="col">
            <div class="card h-100 product-card">
                  <a asp-controller="Products" asp-action="DetailsCatalog" asp-route-id="@p.Id" class="btn btn-outline">
                @if (p.Images != null && p.Images.Any())
                {
                    
                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(p.Images.First().ImageData))" alt="..." />
                    

                }
                    else
                    {
                        <img  src="~/default.png" alt="...">
                    }
                <div class="card-body text-center">
                    <h5 class="card-title">@p.Name</h5>

                    @if (p.Discout != null)
                    {
                        var discountedPrice = p.Price * (100 - p.Discout) / 100;
                        <p class="card-text">
                            <span class="badge bg-danger">@discountedPrice UAH</span>
                        </p>
                    }
                    else
                    {
                        <p class="card-text">
                            <span class="badge bg-primary">@p.Price UAH</span>
                        </p>
                    }
                </div>

                <div class="card-footer text-center">
                    @* <a asp-controller="Cart" asp-action="Add" asp-route-id="@p.Id" class="btn btn-outline-success">
                        <i class="bi bi-bag-plus"></i>
                        Додати до кошика
                    </a>
                    <a asp-controller="Products" asp-action="DetailsCatalog" asp-route-id="@p.Id" class="btn btn-outline-info">
                        <i class="bi bi-eye">  </i>
                    </a> *@

                    <p class="card-text">
                        <span class="badge bg-info">обл. @p.District?.Name</span>
                    </p>
                    <p class="card-text">
                        @if (p.CreatedDate?.Day == DateTime.Today.Day)
                        {
                            <span class="badge bg-white text-dark">Обновлено сьогодні о @p.CreatedDate?.ToString("HH:mm")</span>
                        }
                        else if (p.CreatedDate?.Day == DateTime.Today.Day - 1)
                        {
                            <span class="badge bg-white text-dark">Обновлено вчора о @p.CreatedDate?.ToString("HH:mm")</span>
                        }
                        else
                        {
                            <span class="badge bg-white text-dark">Обновлено @p.CreatedDate?.ToString("dd.MM.yyyy HH:mm")</span>
                        }
                    </p>
                </div>
                </a>
            </div>
        </div>
    }

    </div>
</body>